absl==0.0
absl_py==1.2.0
jax==0.3.17
jax_md==0.2.1
jax_md.egg==info
matplotlib==3.5.1
numpy==1.23.1
oxDNA_analysis_tools==2.0.3
oxpy==3.4.3.dev17+gce6cff6.d20221025
pandas==1.4.3
sympy==1.10.1
toml==0.10.2
tqdm==4.56.0
